#img-bg{
    background-image: url(https://i.imgur.com/rKvLHZi.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}
.tm-form{
    width: 80%;
}

.margin-left{
    padding-left: 160px;
}