<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <a routerLink='/inicio' class="text-left">
        <i class="bi bi-house-door"></i>Inicio
      </a>
      <h1>Temas</h1>
    </div>
    <div class="row d-flex justify-conten-center">
      <div class="col-md-3">
        <div class="form-group">
          <input [(ngModel)]='tema.descricao' type="text" class="form-group" id="descricao" placeholder="Digite a descrição do tema">
        </div>
        <div class="d-flex justify-conten-center ">
          <button  (click)='cadastrar()' class="btn btn-success">Cadastrar</button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row mt-5">
    <div class="col-md-12">
      <h2>Todos os temas</h2>
    </div>
  </div>

  <div class="row mt-3 mb-5 d-flex justify-content-center">
      <div class="cold-md-6">
        <table class="table table-hover table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Descrição</th>
              <th scope="col" class="text-right">Modificações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor='let get of listaTemas'>
              <th>{{get.id}}</th>
              <td>{{get.descricao}}</td>
              <td class="d-flex justify-content-end">
                <button class="btn btn-info mr-3" [routerLink]="['/tema-edit', get.id]" >Editar</button>
                <button class="btn btn-danger" [routerLink]="['/tema-delete', get.id]" >Apagar</button>
              </td>
              
            </tr>
          </tbody>
        </table>
      </div>
  </div>

</div>
