<div class="container">

  <div class="row bg-secondary d-flex justify-content-center align-itens-center">
    <div>
      <h1 class="text-center">Seja ben vindo(a)!</h1>
      <hr>
    </div>

  </div>
  <div class="row col-md-6">
    <button class="btn btn-dark" data-toggle="modal" data-target="#novaPostagem">Nova postagem</button>
    <a class="btn btn-outline-dark" href="#postagens">Ver postagens</a>
  </div>

  <div class="">
    <img src="https://i.imgur.com/9dHZmWH.png" alt="" width="400px" height="400px">
  </div>

</div>


<div class="container" id="postagens">
  <nav>
    <div class="nav nav-tabs d-flex justify-content-center" id="nav-tab" role="tablist">
      <a class="nav-link active text-dark font-weight-bolder" id="nav-home-tab" data-toggle="tab"
        href="#minhasPostagens" role="tab" aria-controls="minhasPostagens" aria-selected="true">Minhas postagens</a>
      <a class="nav-link text-dark font-weight-bolder" id="nav-profile-tab" data-toggle="tab" href="#temas" role="tab"
        aria-controls="temas" aria-selected="false">Temas</a>
      <a class="nav-link text-dark font-weight-bolder" id="nav-contact-tab" data-toggle="tab" href="#todasPostagens"
        role="tab" aria-controls="todasPostagens" aria-selected="false">Todas as postagens</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="minhasPostagens" role="tabpanel"
      aria-labelledby="nav-minhasPostagens-tab">Minhas postagens</div>
    <div class="tab-pane fade" id="temas" role="tabpanel" aria-labelledby="nav-temas-tab">Temas</div>
    <div class="tab-pane fade" id="todasPostagens" role="tabpanel" aria-labelledby="nav-todasPostagens-tab">Todas as
      postagens</div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade " id="novaPostagem" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog-centered modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nova postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Titulo</label>
          <input type="text" class="form-control" id="titulo" placeholder="Digite o titulo">

          <label for="texto">Texto</label>
          <textarea class="form-control" name="texto" id="texto" rows="3"></textarea>
        </div>

        <label for="tema">Selecione um tema ou <a data-dismiss="modal" routerLink='/tema'>Cadastre um novo</a>: </label>
        <select class="form-control" name="tema" id="tema">
          <option value="">Temas</option>
        </select>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success">Publicar</button>
      </div>
    </div>
  </div>
</div>
